@import "./fonts.css";

@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
  --font-heading: "ClashDisplay", sans-serif;
  --font-body: "Archivo", "Inter";

  /* Primary */
  --color-primary-light: #0e2f76;
  --color-primary-dark: #f4feff;
  --color-primary-default: #0e2f76;

  /* Secondary */
  --color-secondary-light: #5b6785;
  --color-secondary-dark: #a9c0e0;
  --color-secondary-default: #a9c0e0;

  /* Background */
  --color-background-light: #f4feff;
  --color-background-dark: #071326;
  --color-background-default: #f4feff;

  /* Accent */
  --color-accent-light: #a9c0e0;
  --color-accent-dark: #5a7fb3;
  --color-accent-default: #a9c0e0;

  /* Breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 90rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
