@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.html {
  height: 100%;
  width: 100%;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.swiper-pagination-bullet {
  background-color: var(--color-primary-default);
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary-default);
  opacity: 1;
}

.dark .swiper-pagination-bullet {
  background-color: var(--color-secondary-default);
  opacity: 0.7;
}

.dark .swiper-pagination-bullet-active {
  background-color: var(--color-secondary-default);
  opacity: 1;
}
